{% extends 'base.html' %}

{% block title %}Carreras{% endblock %}
{% load static %}


{% block content %}
    <div class="carreras-container">
        <h2>Selecciona una Carrera</h2>
        {% if carreras %}
            <div class="lista-carreras">
                {% for carrera in carreras %}
                    <div class="carrera-item">
                        <a href="{% url 'gestion_materias:materias_por_carrera' carrera.id %}">
                            {{ carrera.nombre }} ({{ carrera.universidad }})
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No hay carreras disponibles aún.</p>
        {% endif %}
    </div>
{% endblock %}
