{% extends 'base.html' %}

{% block title %}Apuntes de {{ materia.nombre }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Apuntes de: {{ materia.nombre }}</h1>
        <a href="{% url 'gestion_apuntes:subir_apunte' %}" class="btn btn-primary">Subir Contenido</a>
    </div>

    {% if apuntes %}
        <ul>
            {% for apunte in apuntes %}
                <li>
                    <h3>{{ apunte.titulo }}</h3>
                    <p>Subido el {{ apunte.fecha_publicacion|date:"d/m/Y" }}</p>
                    <p>{{ apunte.descripcion|default:"Sin descripción." }}</p>
                    <a href="{{ apunte.archivo.url }}" download>Descargar</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay material subido todavía.</p>
    {% endif %}

    <a href="javascript:history.back()">Volver</a>
{% endblock %}
