<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% load static %}
    <link rel="icon" type="image/logo" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block otros_css %}{% endblock %}
</head>

<body>
    <header class="base-header">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo"
                 style="height: 70px; width: auto; object-fit: contain;">
            <span class="ms-3 fs-3 fw-bold text-primary"></span>
        </a>
        <!--<h1><a href="{% url 'home' %}">Apuntes Universitarios</a></h1>-->
        <nav class="base-nav">
            <ul class="base-ul">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'gestion_apuntes:apuntes' %}">Apuntes</a></li>
            </ul>
        </nav>
    </header>

    <main class="base-main">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="base-footer">
        <p>© 2025 Apuntes Universitarios</p>
    </footer>
    
    {% block otros_js %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>