<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block otros_css %}{% endblock %}
</head>
<body>
    <header class="base-header">
        <h1>Apuntes Universitarios</h1>
        <nav class="base-nav">
            <ul class="base-ul">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'gestion_apuntes:apuntes' %}">Apuntes</a></li>
            </ul>
        </nav>
    </header>

    <main class="base-main">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="base-footer">
        <p>© 2025 Apuntes Universitarios</p>
    </footer>
</body>
</html>