
{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil de Usuario{% endblock %}
{% block otros_css %}<link rel="stylesheet" href="{% static 'css/register.css' %}">{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-card text-white">
        <h2 class="login-title text-center">Mi Perfil</h1>
        <hr>
        
        <div class="login-form">
            <div class="mb-3">
                <label class="fw-bold">Nombre</label>
                <p class="profile-value-bg text-white">{{ user.first_name }}</p>
            </div>
            <div class="mb-3">
                <label class="fw-bold">Apellido</label>
                <p class="profile-value-bg text-white">{{ user.last_name }}</p>
            </div>
            <div class="mb-3">
                <label class="fw-bold">Email</label>
                <p class="profile-value-bg text-white">{{ user.email }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
