.apuntes-container {
    text-align: center;
    margin-top: 4rem;
}
.centro{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    gap:1.5rem;
}
.container-fluid h1{
    margin:4%;
    padding:2%;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
