@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h1 a, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
}

h2 {
    font-size: 4rem;
}
body{
    margin:0;
    padding:0;
    background-color: rgb(0, 0, 0);
    color:white;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}

header{
    background-color: transparent;
}
.base-header {
    padding:1rem 2rem;
    color: #fff;
    background-color: transparent;
    /*
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    */
}

.base-header a{
    text-decoration: none;
    color: #fff;
}
.navbar a{
    color:white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.navbar a:hover{
    color:white;
}
.base-header ul li{
    /*
    justify-content: end;
    text-align: center;
    */
    color:white;
}
.navbar-nav{
    /*
    display: flex;
    flex-direction: row;
    justify-content: end;
    */
    white-space: nowrap;
    color:white;
    align-items: center;
    text-align: center;
    margin-left:10%;
    
}
.nav-item{
    font-family:'Inter', sans-serif;
    display:block;
    align-items: flex-end;
    /*
    display: flex;
  
    text-align: center;
    align-items: center;
    */
}
.nav.item a{
    color:white;
}
/*
.base-ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0;
}

.base-ul li a {
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border-radius: 3px;
    border: 1px solid #99ff00;
    transition: all 0.2s ease;
}

.base-ul li a:hover {
    background-color: #99ff00;
    color: #333;
}
*/
.base-main {
    padding: 1rem;
    flex:1;
}

.base-footer {
    width: 100%;
    padding: 1rem;
    color: #fff;
    background-color: #000000;
    text-align: center;
    position: static;
    font-family: 'Inter', sans-serif;
}
.col h3{
    font-family:'Poppins', sans-serif;
    font-weight: 800;
}
.col ul li a{
    text-decoration: none;
    color:white;
}
footer .col{
    text-align: center;
}

body::before,
body::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(131, 65, 255, 0.6) 0%, rgba(131, 65, 255, 0) 80%);
    filter: blur(40px);
    z-index: -1;
}

body::before {
    top: -150px;
    left: -250px;
}


body::after {
    bottom: -150px;
    right: -250px;
}
html::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(131, 65, 255, 0.6) 0%, rgba(131, 65, 255, 0) 80%);
    filter: blur(40px);
    z-index: -1;
    top: 600px;      
    left: -15%;       
}


