@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --primario: #6C537B;
    --primario-rgb: 108, 83, 123;
    --secundario: #2E2242;
    --secundario-rgb: 46, 34, 66;
    --terciario: #404B6A;
    --terciario-rgb: 64, 75, 106;
    --oscuro: #222;
    --claro: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

html, body {
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    color: var(--claro);
    background-color: var(--secundario);
}

body::before,
body::after {
    width: 600px;
    height: 600px;
    content: '';
    background: radial-gradient(circle, rgba(var(--primario-rgb), 0.6) 0%, rgba(var(--primario-rgb), 0) 80%);
    filter: blur(40px);
    position: absolute;
    z-index: -1;
}

body::before {
    top: -150px;
    left: -250px;
}

body::after {
    right: -250px;
    bottom: -150px;
}

h1, h1 a, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech Mono', monospace;
}

h2, h3 {
    font-size: 1.5rem;
}

.base-header {
    padding: 1rem 2rem;
    color: var(--claro);
    background-color: transparent;
}

.base-header a {
    color: var(--claro);
    text-decoration: none;
}

.navbar a {
    color: var(--claro);
    text-align: center;
}

.navbar a:hover {
    color: var(--claro);
}

.base-header ul li {
    color: var(--claro);
}

.navbar-nav {
    margin-left: 10%;
    color: var(--claro);
    white-space: nowrap;
    align-items: center;
    text-align: center;

}

.nav.item a {
    color: var(--claro);
}

.nav-item a:hover {
    color: var(--primario);
}

.base-main {
    padding: 1rem;
    flex: 1;
}

.base-footer {
    width: 100%;
    padding: 1rem;
    margin-top: auto;
    color: var(--claro);
    background-color: var(--oscuro);
    text-align: center;
    position: static;
}

.col h3 {
    font-weight: 800;
}

.col ul li a {
    color: var(--claro);
    text-decoration: none;
}

footer .col {
    text-align: center;
}

.btn-custom {
    background-color: var(--primario);
}

.btn-custom:hover {
    color: var(--primario);
    background-color: var(--claro);
}

.section-btn:hover {
    color: var(--primario);
}

.dropdown-menu a {
    color: var(--oscuro);
}

.dropdown-menu a:hover {
    color: var(--claro);
    background-color: var(--oscuro);
}

.row {
    margin: 0;
}