.carreras-container {
    width: 100%;
    min-height:66vh;
    padding: 4rem 0;
    background-color: transparent;
    text-align: center;
    flex: 1;
}
.carreras-container h2 {
    font-family:'Poppins', sans-serif;
    font-weight:500; 
    font-size: 2rem;
}
p{
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight:300;
}
.lista-carreras {
    padding: 0 2rem;
    width: 100%;
    /*max-width: 1200px;*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: start;
    gap: 2rem;
}
.carrera-item {
    width: 100%;
    height: 140px;
    padding: 1rem;
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease;
}

.carrera-item a {
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

.carrera-item:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4), 0 0 12px 0 rgba(138, 43, 226, 0.4);
}

/* Large devices (laptops/desktops, 992px up to 1200px) */
@media only screen and (max-width: 1200px) {
    .lista-carreras { grid-template-columns: 1fr 1fr 1fr; }
}

/* Medium devices (landscape tablets, 768px up to 992px) */
@media only screen and (max-width: 992px) {
    .lista-carreras { grid-template-columns: 1fr 1fr; }
}

/* Small devices (portrait tablets and large phones, 600px up to 768px) */
@media only screen and (max-width: 768px) {
    .carrera-item p { font-size: 1.3rem; }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .lista-carreras { grid-template-columns: 1fr; }
}