@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.base-main {
    padding: 0;
    margin: 0;
}

.home-container {
    text-align: center;
    margin-top: 4rem;
}

section {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.container-fluid {
    width: 100%;
}

h1 {
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
}

.btn-custom {
    background-color: var(--primario);
    border-radius: 30px;
}

.btn-custom:hover {
    color: var(--secundario);
    background-color: var(--claro);
}

.section-btn {
    text-decoration: none;
}

.section-btn a {
    color: var(--claro);
}

.section-btn a:hover {
    color: var(--primario);
}

.bienvenida {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.0;
    gap: 2rem;
}

.izquierda {
    width: 100%;
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding-left: 5%;
    padding-top: 10%;
    gap: 1.5rem;
}

.derecha {
    background-image: linear-gradient(180deg, var(--secundario), var(--primario));
    width: 100%;
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    padding-right: 5%;
    padding-top: 10%;
    gap: 1.5rem;
}

.centro {
    background-image: linear-gradient(180deg, var(--primario), var(--secundario));
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    gap: 1.5rem;
}

.texto-seccion p {
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    font-weight: 300;
}

.texto-seccion h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.texto-seccion ol li {
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    font-weight: 300;
}

.texto-seccion img {
    width: 300px;
    height: auto;
    margin-left: 30px;
}

.row {
    margin: 0;
}

.home-video {
    border-radius: 20px;
}
