@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.home-container {
    text-align: center;
    margin-top: 4rem;
}
section{
    margin:0;
    padding:0;
    display:flex;
    width: 100%;
    height:100vh;
    min-height: 100vh;
}
.container-fluid{
    width: 100%;
    min-height: 100vh;
    padding-left: 0 !important;
    padding-right:0 !important;
}
.bienvenida{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    line-height: 2.0;
    gap:2rem;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight:800;
    font-size: 3rem;
    font-style: normal;
}
h2, h3{
    font-family:'Inter', sans-serif;
    font-weight:300; 
    font-size: 1.5rem;
}
p{
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight:300;
}

.section-btn{
    text-decoration: none;
    color:white;
    font-family: 'Inter', sans-serif;
}
.section-btn:hover{
    color:blueviolet;
}

.izquierda{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding-left: 5%;
    padding-top: 10%;
    gap:1.5rem;
}
.derecha{
    background-image: linear-gradient(180deg, black, white);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    padding-right: 5%;
    padding-top: 10%;
    gap:1.5rem;
}
.derecha-content {
    width: 100%;
    padding: 0 auto;
}
.centro{
    background-image: linear-gradient(180deg, white, black);
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    gap:1.5rem;
}
.texto-seccion p{
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight:300; 
    font-size: 1.2rem;
    text-align: justify;
}
.texto-seccion h2{
    width: 100%;
    max-width: 1400px;
    font-family:'Inter', sans-serif;
    font-weight:700; 
    font-size: 1.5rem;
}
.texto-seccion ol li{
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight:300;
    font-size: 1.2rem;
}
.texto-seccion img {
    width: 300px;      
    height: auto;
    margin-left: 30px; 
}
.row{
    margin:0;
}

.video {
    border-radius: 30px;
}