.centro{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    gap:1.5rem;
}
.texto-seccion a{
    width: 100%;
    max-width: 1000px;
    text-decoration: none;
    color:white;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight:300; 
}
.texto-seccion li{
    font-family:'Inter', sans-serif;
    font-weight:300; 
    font-size: 1.5rem;
}
.texto-seccion h1{
    font-family:'Inter', sans-serif;
    font-weight:700; 
    font-size: 1.5rem;
}
.texto-seccion h2{
    font-family:'Inter', sans-serif;
    font-weight:700; 
    font-size: 1.5rem;
}
.texto-seccion p{
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight:300; 
}
.btn-primary{
    width: 50%;
    height: 10vh;
}
.btn-primary a{
    font-family:'Inter', sans-serif;
    font-weight:300;
    font-size: 1.25rem;
}
.btn-custom{
    background-color: blueviolet;
    color:white;
}