body{
    overflow: hidden;
}
.centro{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    height: auto;
    /*margin:0;
    padding:0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
    gap:1.5rem;
}
.texto-seccion a{
    width: 100%;
    max-width: 1000px;
    text-decoration: none;
    color:white;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight:300; 
}
.texto-seccion li{
    font-family:'Inter', sans-serif;
    font-weight:300; 
    font-size: 1.5rem;
}
.texto-seccion h1{
    font-family:'Inter', sans-serif;
    font-weight:700; 
    font-size: 1.5rem;
}
.texto-seccion h2{
    font-family:'Inter', sans-serif;
    font-weight:700; 
    font-size: 1.5rem;
}
.texto-seccion p{
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight:300; 
}
.btn-primary{
    width: 100%;
    height: auto;
    padding:1rem;
}
.btn-primary a{
    font-family:'Inter', sans-serif;
    font-weight:300;
    font-size: 1.25rem;
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}
.btn-custom{
    background-color: blueviolet;
    color:white;
}