.container p{
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight:300; 
}
.login-title{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 2.8rem;
}

.login-subtitle {
    font-size: 1.2rem;
}

.register-text {
    font-size: 1.1rem;
    text-align: center;
}

.register-link {
    font-size: 1.3rem;
}

.register-form p, .login-form div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.register-form span, .login-form span {
    color: #bbb;
}

.profile-container {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.profile-card {
    padding: 2rem;
    margin-top: 4rem;
    min-width: 400px;
    max-height: 500px;
    border-radius: 15px;
    border: 2px solid #87CEEB; /* Light Sky Blue */
    background-color: #000; /* Black background for the card itself */
}

.profile-value-bg {
    background-color: #212529; /* A slightly lighter black/dark grey */
    padding: 8px 12px; /* Add some padding to make the background visible */
    border-radius: 5px; /* Slightly rounded corners for the background */
    margin-top: 5px; /* Small margin above the value field */
}
