{% extends "base.html" %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}
{% block otros_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% block content %}
<div style="flex: 1;">
    <h2>Inicia Sesión</h2>
    <p>Obtené acceso a más funciones</p>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <p>¿No tenés cuenta? <a href="{% url 'gestion_usuarios:register' %}"
            class="register-link text-decoration-none">Registrate</a></p>
    <hr>
    <form method="post" action="{% url 'gestion_usuarios:login' %}">
        {% csrf_token %}

        <div>
            <label for="id_username">Usuario</label>
            {{ form.username }}
            <label for="id_password">Contraseña</label>
            {{ form.password }}
        </div>

        {% if form.errors %}
        <div class="alert alert-danger">
            Por favor, corrija los errores a continuación.
        </div>
        {% endif %}

        <button id="login-submit" type="submit">Iniciar Sesión</button>
    </form>
</div>
{% endblock %}