{% extends "base.html" %}
{% load static %}

{% block title %}Registro de Usuario{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="flex: 1;">
    <div id="login-container" class="bg-light">
        <p class="login-title">Crear una Cuenta</p>
        <p class="login-subtitle">Únete a la plataforma de apuntes.</p>

        <hr>
        <form method="post" action="{% url 'gestion_usuarios:register' %}">
            {% csrf_token %}
            
            {{ form.as_p }}

            <button id="login-submit" type="submit" class="btn btn-sm w-100 mt-3">Registrarse</button>
        </form>
        <hr>
        <p class="login-register mb-2 small">¿Ya tenés cuenta? <a href="{% url 'gestion_usuarios:login' %}" class="text-decoration-none">Inicia Sesión</a></p>

    </div>
</div>

<style>
    /* Para asegurar que el formulario de Django se vea bien */
    #login-container input {
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    #login-container .helptext {
        font-size: 0.8rem;
        color: #6c757d;
    }
    #login-container ul {
        padding-left: 1rem;
        color: #6c757d;
    }
</style>
{% endblock %}
