{% extends "base.html" %}
{% load static %}

{% block title %}Registro de Usuario{% endblock %}
{% block otros_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% block content %}
<div>
    <h2>Crear una Cuenta</h2>
    <p>Únete a la plataforma de apuntes.</p>

    <hr>
    <form class="register-form" method="post" action="{% url 'gestion_usuarios:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="login-submit" type="submit">Registrarse</button>
    </form>
    <hr>
    <p>¿Ya tenés cuenta? <a href="{% url 'gestion_usuarios:login' %}">Inicia Sesión</a></p>
</div>
{% endblock %}