{% extends "base.html" %}
{% load static %}

{% block title %}Registro de Usuario{% endblock %}
{% block otros_css %}<link rel="stylesheet" href="{% static 'css/register.css' %}">{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="flex: 1;">
    <div id="login-container" class="bg-black text-white">
        <h1 class="login-title text-center">Crear una Cuenta</h1>
        <p class="login-subtitle text-center">Únete a la plataforma de apuntes.</p>

        <hr>
        <form class="register-form" method="post" action="{% url 'gestion_usuarios:register' %}">
            {% csrf_token %}
            
            {{ form.as_p }}

            <button id="login-submit" type="submit" class="btn btn-primary w-100 mt-3">Registrarse</button>
        </form>
        <hr>
        <p class="login-register mb-2 small">¿Ya tenés cuenta? <a href="{% url 'gestion_usuarios:login' %}" class="text-decoration-none">Inicia Sesión</a></p>

    </div>
</div>
{% endblock %}